
html
    head
        title=百度新闻
        link(rel='stylesheet', href='/stylesheets/demo.css')
    body
        div#container
            header
                div#header
                    div#heal
                        a(href="")
                            img(src="/img/h1.png")
                        a(href="")
                            img(src="/img/h2.png")
                    div#hear
                        a(href="")
                            img(src="/img/h3.png")
                        a(href="")
                            img(src="/img/h4.png")
            article
                nav
                    ul.tab
                        li#li1(data-target=1)推荐
                        li#li2(data-target=2)百家
                        li#li3(data-target=3)互联网
                        li#li4(data-target=4)图片
                        li更多
                section
                    div#section
        script(type='text/javascript', src="/javascripts/jquery-3.1.0.min.js")
        script(type='text/javascript', src="/javascripts/demo.js")