doctype html
html
  head
    title= 百度新闻后台
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    div#container
        include top

        block content
    script(type='text/javascript', src="/javascripts/jquery-3.1.0.min.js")
    script(type='text/javascript', src="/javascripts/demo2.js")
    