div#menu
    ul
        li#li1(class="li",data-target=1) 推荐
        li#li2(class="li",data-target=2) 百家
        li#li3(class="li",data-target=3) 互联网
        li#li4(class="li",data-target=4) 图片
        li#li5 更多